// Colors
$pink: #c06;
$gray: #b8b8b8;
$white: #fff;
$black: #000;
$violet: #9a6ec2;


html,
body {
  height: 100%;
}

header {
  background-color: $white;
  height: 150px;
  position: relative;
  width: 100%;
  z-index: 100;

  h1 {
    color: $pink;
  }
}

.map {
  height: 100vh;
  position: relative;
}

.museum-info {
  border: 2px solid $pink;
  height: 100vh;
  overflow: scroll;
  padding: 10px;
}

.artwork-image {
  margin-bottom: 20px;
}
