// Colors
$pink: #c06;
$gray: #b8b8b8;
$white: #fff;
$black: #000;
$violet: #9a6ec2;

$container-height: calc(100vh - 160px);

html,
body {
  height: 100%;
}

header {
  background-color: $white;
  height: 150px;
  position: relative;
  width: 100%;
  z-index: 100;

  h1 {
    color: $pink;
  }
}

.content {
  margin: 0 10px;
}

.map {
  height: $container-height;
  position: relative;
}

.museum-info {
  border: 2px solid $pink;
  height: $container-height;
  overflow: scroll;
  padding: 10px;
}

.artwork-image {
  margin-bottom: 20px;
}

.favorites {
  height: $container-height;
}

.favorite-remove {
  display: inline-block;
  margin-left: 5px;
}
