// Colors
$pink: #c06;
$gray: #b8b8b8;
$white: #fff;
$black: #000;
$violet: #9a6ec2;

$container-height: calc(100vh - 160px);

html,
body {
  height: 100%;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

header {
  height: 150px;
  position: fixed;
  width: 100%;
  z-index: 100;

  h1 {
    color: $pink;
  }
}

.content {
  margin: 0 10px;
}

.map {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.museum-info-wrapper {
  position: fixed;
  top: 150px;
  z-index: 100;
}

.museum-info {
  background-color: $white;
  border: 2px solid $pink;
  height: calc(100vh - 225px);
  overflow: scroll;
  padding: 10px;
}

.museum-info-toggle-button {
  background-color: $pink;
  color: $white;

  &:hover, &:focus {
    background-color: $pink;
  }
}

.artwork-image {
  margin-bottom: 20px;
}

.favorites {
  height: $container-height;
}

.favorite-remove {
  display: inline-block;
  margin-left: 5px;
}
