.chart div {
  font: 10px sans-serif;
  background-color: #cc0066;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: black;
}

.arc {
  fill: #cc0066;
}
.arc2 {
  fill: #9a6ec2;
}
.arc3 {
  fill: #b8b8b8;
}
